<div class="container">
  <div class="row" *ngIf="productsInCart.length">
    <mat-card class="example-card" *ngFor="let product of productsInCart; let index = i">
      <div class="row">
        <div class="col">
          <h3 style="font-weight: bolder">Product Name</h3>
          {{product.productName}}
        </div>

        <div class="col">
          <h3 style="font-weight: bolder">Product Price</h3>
          {{product.productPrice | currency: 'ZAR' : 'R'}}
        </div>

        <div class="col">
          <h3 style="font-weight: bolder">Product Description</h3>
          {{product.productDescription}}
        </div>

        <div class="col">
          <img class="image-url" src="{{product.productImageUrl}}" alt="">
        </div>

        <div class="col">
          <h3 style="font-weight: bolder">Remove</h3>
          <button (click)="onRemoveProductFromCart(product)" mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>

  <h1 *ngIf="!productsInCart.length" style="font-size: 30px; text-align: center">No Products In Your Cart.</h1>
</div>
