<div class="container">
  <h1 style="font-size: 30px;">Available Products: {{products?.length}}</h1>
  <br>
  <div class="row">
    <mat-card class="example-card" *ngFor="let product of products; let index = i">
      <mat-card-header>
        <mat-card-title>{{product.productName}}</mat-card-title>
      </mat-card-header>

      <img [src]="product.productImageUrl" alt="" class="image-url" (click)="onViewProduct(product)">

      <mat-card-content>
        <h2 class="text-info">{{product.productPrice | currency: 'ZAR' : 'R'}}</h2>
      </mat-card-content>

      <mat-card-footer>
        <button (click)="onAddToCart(product)" mat-icon-button>
          <mat-icon color="primary">shopping_cart</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
