<mat-toolbar color="primary">
  <span (click)="onNavigateHome()" style="cursor: pointer">Home</span>
  <span class="example-spacer"></span>
  <mat-icon (click)="onShoppingCart()"
            style="cursor: pointer;margin-right: 50px;"
            [matBadge]="cartCount" matBadgeColor="primary">shopping_cart
  </mat-icon>

  <button style="margin-right: 90px;" type="button"
          (click)="onAddProduct()"
          mat-icon-button
          class="example-icon favorite-icon">
    <mat-icon>add</mat-icon>
    Add Product
  </button>
</mat-toolbar>
<br>
<br>
<router-outlet></router-outlet>
